@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  line-height: 1.6em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .hide-scrollbar {
    /* For Chrome, Safari, and newer browsers */
    &::-webkit-scrollbar {
      display: none;
    }

    /* For Firefox */
    scrollbar-width: none;

    /* For IE/Edge */
    -ms-overflow-style: none;
  }
}

.react-datepicker__header {
  background-color: transparent !important;
  border: none !important;
}
.react-datepicker__month-container {
  padding: 6px !important;
}

.hide-scrollbar {
  /* For Chrome, Safari, and newer browsers */
  &::-webkit-scrollbar {
    display: none;
  }

  /* For Firefox */
  scrollbar-width: none;

  /* For IE/Edge */
  -ms-overflow-style: none;
}

